@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    width: 600px;
}

#perfume-image {
    border-radius: 10px 0px 0px 10px;
    width: 50%;
}

#perfume-image img {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 100%;
}

#content {
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}

#text > p {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    padding-bottom: 20px;
}

.pre-title {
    font-size: 150px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#text h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces';
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 25px;
}

.price {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    font-size: 2em;
    margin-right: 30px;
}

.old-price {
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-size: 0.8em;
    justify-self: flex-end;
    text-decoration: line-through;
}

button {
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

button a {
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: none;
}

button:active {
    background-color: rgb(29, 60, 49);
}
